# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.Python

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3

# =========================
# Environment Variables
# =========================
.env

# =========================
# Docker
# =========================
*.pid
docker-data/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# Test / Coverage
# =========================
htmlcov/
.coverage
.pytest_cache/

# =========================
# Misc
# =========================
*.bak
*.tmp
